<div class="row">
  <div class="box">
    <h1>About Me</h1>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="pic" src="assets/images/profile.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="desc">
      <p>
        Hello, I am
        <b>Nidhi Singh Chauhan</b>, Electronics and Telecommunication Engineer, MBA (HR). A Certified NLP Subconsciuos Re-imprinting
        Master Practitioner and Life Coach. My aim is to tranform the lives of people and take them to next level of excellence
        in their personal and professional lives. Every person has potential to tap into their subconscious mind to achieve
        best results in health, wealth, relations, and lead successfull life.
      </p>
      <p>The power of our subconscious mind is incredible. It gives me immense pleasure and satisfaction when I assist people
        in unlocking their mind power through NLP and overcoming their limiting beliefs. </p>
      <p>I am applying these NLP techniques on daily basis and the results are commendable. I help people to get rid of their
        past painful memories, fear, stress, anxiety, depression, psychosomatic diseases like BP, diabetes, migraine so that
        you live a life that you truly deserve, content life</p>
      <p>Take charge of your happiness NOW.</p>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
          <img src="assets/images/3.jpeg" class="thumbnail img-responsive">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
          <img src="assets/images/6.jpeg" class="thumbnail img-responsive">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
          <img src="assets/images/7.jpeg" class="thumbnail img-responsive">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
          <img src="assets/images/8.jpeg" class="thumbnail img-responsive">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
          <img src="assets/images/9.jpg" class="thumbnail img-responsive">
        </a>
      </div>
    </div>
  </div>
</div>

<hr>