<div class="col-md-12 col-sm-12">
  <div class="box">
    <h2>NLP Neuro Linguitic Programming</h2>
    <div class="box">
      <h4>Neuro</h4>
      <p>The mind and how we think. Our thinking process i.e. the way we use our senses to understand what’s happening around
        us. </p>
      <h4>Linguistic</h4>
      <p>
        How we use language and how it mirror our mental world and affects us. The language you use to speak to yourself and others.</p>
      <h4>Programming</h4>
      <p>
        How we sequence our actions to achieve our goals. It suggests that our thoughts, feelings and actions are simply habitual
        programs that can be changed by upgrading our mental software.</p>
    </div>
  </div>
  <hr>
  <div class="box">
    <h1>What does a Life Coach do?</h1>
    <p>A Life Coach helps you identify and achieve your goals. A Life Coach takes you to the path of wellness, success and a
      fulfilled life. A Life Coach helps you make the right decision for yourself. But a Life Coach doesn't tell you what
      to do. They help you find the right thing that you feel is right for you. For this, they use various techniques like
      we use NLP Subconscious Re-imprinting. It is like making your mind unlearn all that is stopping you from becoming happy
      and learn what is right for yourself. When you go to a Life Coach, you gain a fresh perspective and clarity about yourself,
      you become more aware of your goals in life, you get direction, purpose, and motivation to take control over your life.</p>
  </div>
  <hr>
</div>
<div class="col-md-12 col-sm-12">
  <div class="box">
    <h1>Our Courses</h1>
    <p>Whether you are a student struggling with studies or an adult overwhelmed with the problems of life, we have just the
      right solutions for you. We help you gain control over your life by conducting specialized workshops and by extending
      personal counselling for your specific issues. Whether you want to achieve success in professional life or embrace
      a peaceful state of mind, whatever be your aim, you have a key to every situation buried inside yourself, in your mind!
      We just help you tap your own resources. Unleash the power of your mind, the subconscious mind and see how beautiful
      the life is!</p>
  </div>
  <hr>
</div>