<div class="container-fluid">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
<footer>

  <div class="splitter"></div>

  <ul>

    <!-- three footer columns are here -->

  </ul>

  <div class="bar">
    <div class="bar-wrap">
      <ul class="links">
        <!-- footer menu -->
        <li>
          <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
          <a routerLink="/counselling" routerLinkActive="active">Counselling</a>
        </li>
        <li>
          <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </li>
      </ul>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
      </div>
      <div class="clear"></div>
      <div class="copyright">&copy; @Bhushan Gadekar</div>
    </div>
  </div>
</footer>
