<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="thumbnail box">
        <div class="thumb-box">
          <i class="thumb fas fa-users fa-10x"></i>
        </div>
        <div class="caption thumb-caption">
          <h4>Counseling for Students</h4>
          <p>I have come across many candidates right from school to college speaking about the word DEPRESSION. This deprseeion
            word itself has many factors within itself. This generally occurs beacuse of:</p>
          <ul class="list">
            <li>Difficulty in memorising the study contents.</li>
            <li> Students cannot recall their answers during exams but they can recall the dialogues from the movies they watch.
            </li>
            <li>They have gained their poor self image.</li>
            <li>They might have past painful memory or trauma that is not letting them concentrate on their studies.</li>
            <li>Fear in exams is also one of the factor which erases their answers from their memory</li>
          </ul>
          <p>I am also applying NLP techniques to boost their self confidence and resolve their personal issues that includes
            fear, phobia, getting emotionally hurt, bullying, unwanted habits, etc.
          </p>
          <p>This is my primary goal to make students stress free, enjoy their childhood with studies, stay fit and healthy.</p>
          <p>
            <a href="#" class="btn btn-primary btn-md link" role="button">Show More!</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="thumbnail box">
        <div class="thumb-box">
          <i class="thumb fas fa-users fa-10x"></i>
        </div>
        <div class="caption thumb-caption">
          <h4>Corporate Sector</h4>
          <p>NLP plays a major role in corporate sector.</p>
          <ul class="list">
            <li>It can be used to deliver presentations without any fear of public speaking.</li>
            <li>NLP changes your behavioural pattern in the workplace</li>
            <li>understanding in colleagues point of view which helps in team building</li>
            <li>Specific use of body language and spoken languages can create powerful output.
            </li>
            <li>Techniques of instant confidence and motivation during meeting or presentation</li>
          </ul>
          <p>This is also helpful in dealing with difficult people. This also helps in your way of thinking at present and develop
            your ability to think differently from other perspective.</p>
          <p>
            <a href="#" class="btn btn-primary btn-md link" role="button">Show More!</a>
          </p>
        </div>
      </div>
  
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="thumbnail box">
        <div class="thumb-box">
          <i class="thumb fas fa-users fa-10x"></i>
        </div>
        <div class="caption thumb-caption">
          <h4>Healing your Psychosomatic Disorders:</h4>
          <p>Pscho means mind and soma means body. Psychosomatic disorder is a disease that involves both mind and body. This
            includes:
          </p>
          <ul class="list">
            <li>migraine</li>
            <li>high blood pressure</li>
            <li>diabetes</li>
          </ul>
          <p>This diseases occurs because of the deep issues that may be painful memory or trauma that you are dealing with in
            your daily life</p>
          <p>Using NLP techniques I have recovered myself, helping my mother and father to recover from their diseases and results
            are just superb. It erases your issues that make you heal quickly. Techniques that are helpful to increase our
            immune system.</p>
          <p>
            <a href="#" class="btn btn-primary btn-md link" role="button">Show More!</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="thumbnail box">
        <div class="thumb-box">
          <i class="thumb fas fa-users fa-10x"></i>
        </div>
        <div class="caption thumb-caption">
          <h4>Counselling on Relationships:</h4>
          <p>It has become very difficult in our day to day lives to invest our time in relationships. </p>
          <ul class="list">
            <li>Handling professional and personal life </li>
            <li>clashing ego of partners</li>
            <li>unnecessary fights</li>
            <li>break up issues</li>
            <li>Getting emotionally hurt</li>
            <li>personal issues or painful memories</li>
            <li>internal conflicts or addiction of smoking, alcohol that are creating hurdles in your life</li>
          </ul>
          <p>
            <a href="#" class="btn btn-primary btn-md link" role="button">Show More!</a>
          </p>
        </div>
      </div>
    </div>
  </div>