<div class="row">
  <div class="box">
    <h1>Testimonials</h1>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="pic" src="assets/images/pavan.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="desc">
      <p>
        Hello, I am
        <b>Pavan Aringale</b>, Working as Business Development Executive@Candorworks. 
      </p>
      <p>Sometimes you need to get rid of your past memories for the betterment of your future</p>
      <p>I would like to thank Nidhi for helping me out during those times. I am able to see my future clearer now</p>
      <p>Take charge of your happiness NOW.</p>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="pic" src="assets/images/bhushan.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="desc">
      <p>
        Hello, I am
        <b>Bhushan Gadekar</b>, Working as FullStack Developer@Causecode. 
      </p>
      <p>I was facing a lot of emotianal trauma for last few months and had lost my focusing ability after certain incidents.</p>
      <p>After few sessions with Nidhi, It helped me a lot to prioritise things in my life and get things sorted out. She is helping a lot of people by doing this !</p>
      <p>Take charge of your happiness NOW.</p>
    </div>
  </div>
</div>
<hr>